<footer class="footer-component sect-pad">
  <div class="container">
    <div class="row">
      <div class="col-4">
          <span class="d-block">Copyright {{currentYear}} &copy; <a [routerLink]="'contact'" class="copyright"
                                                                    role="link">DevOne</a></span>
        <span>Développeur indépendant</span>
      </div>
      <div class="col-4">
        <a class="d-block" href="">Mention légales</a>
        <a class="d-block" href="">Politique de confidentialité</a>
      </div>
      <div class="col-4">
        <div class="d-flex h-100">
          <div class="m-auto">
            <a [href]="'https://www.facebook.com/devone.webmaster.independant'" role="link"><i
              class="fa fa-facebook"></i></a>
            <a [href]="'https://www.linkedin.com/company/devone-belgique'" role="link"><i
              class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
